@font-face {
  font-family: roboto;
  src: url(../../font/Roboto/Roboto-Regular.ttf); }

header {
  width: 100%;
  height: 60px;
  position: fixed; }
  header > *:not(.bottom-border) {
    display: inline-block;
    float: left;
    height: 100%; }
  header .bottom-border {
    top: 60px;
    left: 255px;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #d5d5d5; }
  header .logo {
    width: 110px; }
    header .logo img {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%; }
  header nav {
    max-width: 45.88px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px; }
    header nav #navLinks {
      height: 890px;
      margin-top: 20px;
      padding-bottom: 50px;
      position: absolute;
      left: 0;
      width: 240px;
      overflow-y: scroll; }
      header nav #navLinks p {
        padding-top: 20px;
        margin-left: 30px;
        margin-right: 30px; }
      header nav #navLinks .title {
        color: #797979;
        font-weight: bold;
        padding-bottom: 15px; }
      header nav #navLinks .item {
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        cursor: pointer;
        position: relative; }
        header nav #navLinks .item:hover {
          background-color: #d5d5d5; }
        header nav #navLinks .item p {
          padding-top: 0;
          margin-right: 0;
          margin-left: 25px;
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
        header nav #navLinks .item .icon {
          position: relative;
          display: inline-block;
          font-size: 20px; }
          header nav #navLinks .item .icon i {
            width: 23px;
            max-width: 23px; }
        header nav #navLinks .item.active {
          background-color: #d5d5d5; }
          header nav #navLinks .item.active p {
            font-weight: bold; }
        header nav #navLinks .item.browse {
          margin-top: 10px;
          margin-bottom: 10px; }
          header nav #navLinks .item.browse .icon {
            border: 1px solid black;
            width: 18px;
            margin-left: 2px;
            height: 18px;
            border-radius: 50%;
            font-size: 0.7rem; }
            header nav #navLinks .item.browse .icon i {
              width: fit-content;
              max-width: fit-content;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%); }
      header nav #navLinks .categories .item .icon {
        position: relative;
        display: inline-block;
        background-color: #373737;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        font-size: 0.7rem; }
        header nav #navLinks .categories .item .icon i {
          width: fit-content;
          max-width: fit-content;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: white; }
      header nav #navLinks .sign-btn {
        float: none;
        margin-left: 35px;
        margin-top: 15px; }
        header nav #navLinks .sign-btn p {
          padding: 0;
          margin: 0; }
    header nav #hamburger {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      border-radius: 50%;
      background-color: white;
      border: 2px solid white; }
      header nav #hamburger a {
        cursor: pointer; }
      header nav #hamburger #hamburgerImage {
        font-size: 25px; }
      header nav #hamburger.hamburger-click {
        animation-name: hamburgerClicked;
        animation-duration: 1s; }
  header .search-bar {
    position: relative;
    width: 35%;
    margin-left: 22.5%; }
    header .search-bar form {
      height: 40px;
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      header .search-bar form input {
        height: 35px;
        border: 1px solid #d5d5d5;
        box-sizing: border-box; }
      header .search-bar form input[type=text] {
        font-size: 16px;
        padding-left: 10px;
        width: 80%; }
      header .search-bar form input[type=submit] {
        height: 37px;
        width: 65px;
        border-left: none;
        cursor: pointer; }
  header .voice-search, header .apps, header .anym-settings {
    width: 60px;
    position: relative;
    cursor: pointer; }
    header .voice-search i, header .apps i, header .anym-settings i {
      padding: 10px;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.1rem; }
  header .apps, header .anym-settings {
    float: right; }
    header .apps i, header .anym-settings i {
      font-size: 1.3rem; }
  header .anym-settings {
    margin-right: 10px; }
  header .sign-btn {
    float: right;
    position: relative;
    display: block;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #065fd4;
    width: 125px;
    height: 35px; }
    header .sign-btn p, header .sign-btn i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    header .sign-btn p {
      width: fit-content;
      left: 60%;
      padding: 0;
      margin: 0;
      font-weight: bold;
      color: #065fd4;
      display: inline-block; }
    header .sign-btn i {
      left: 20%;
      font-size: 20px;
      color: #065fd4; }

@keyframes hamburgerClicked {
  0% {
    background-color: #d5d5d5; }
  20% {
    border: 2px solid #b7b7b7; }
  100% {
    border: 2px solid white;
    background-color: white; } }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  opacity: 0.4; }
  footer p {
    font-size: 12px;
    text-align: center;
    color: white; }

.video-categories {
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5d5;
  overflow-x: auto;
  white-space: nowrap; }
  .video-categories .category {
    display: inline-block;
    background-color: #e6e6e6;
    border: 1px solid #d5d5d5;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    animation-name: categoryHover-out;
    animation-duration: .5s;
    animation-fill-mode: forwards; }
    .video-categories .category:hover {
      cursor: pointer;
      animation-name: categoryHover-in; }

@keyframes categoryHover-in {
  0% {
    background-color: #e6e6e6;
    border-color: #d5d5d5; }
  100% {
    background-color: #d5d5d5;
    border-color: #b7b7b7; } }

@keyframes categoryHover-out {
  0% {
    background-color: #d5d5d5;
    border-color: #b7b7b7; }
  100% {
    background-color: #e6e6e6;
    border-color: #d5d5d5; } }

section {
  margin-left: 255px;
  padding-top: 70px; }

* {
  scroll-behavior: smooth;
  color: #030303;
  font-family: roboto;
  margin: 0;
  padding: 0; }

hr {
  border: 1px solid #d5d5d5; }
