@font-face {
  font-family: roboto;
  src: url(../../font/Roboto/Roboto-Regular.ttf); }

header {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: white;
  z-index: 99; }
  header > *:not(.bottom-border) {
    display: inline-block;
    float: left;
    height: 100%; }
  header .bottom-border {
    top: 60px;
    left: 255px;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #d5d5d5; }
  header .logo {
    width: 110px; }
    header .logo img {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%; }
  header nav {
    max-width: 45.88px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 14px; }
    header nav .navLinks, header nav .closed-navLinks {
      height: 890px;
      margin-top: 10px;
      padding-bottom: 50px;
      position: absolute;
      left: 0;
      overflow-y: auto;
      z-index: 99;
      background-color: white; }
      header nav .navLinks::-webkit-scrollbar, header nav .closed-navLinks::-webkit-scrollbar {
        width: 0px; }
      header nav .navLinks:hover::-webkit-scrollbar, header nav .closed-navLinks:hover::-webkit-scrollbar {
        width: 7px; }
      header nav .navLinks .item, header nav .closed-navLinks .item {
        display: block;
        cursor: pointer;
        position: relative; }
        header nav .navLinks .item:hover, header nav .closed-navLinks .item:hover {
          background-color: #d5d5d5; }
        header nav .navLinks .item.active p, header nav .closed-navLinks .item.active p {
          font-weight: bold; }
    header nav .navLinks {
      width: 0px; }
      header nav .navLinks.opened {
        animation-name: navMenuOpen;
        animation-duration: .5s;
        animation-fill-mode: forwards; }
      header nav .navLinks p {
        padding-top: 20px;
        margin-left: 30px;
        margin-right: 30px; }
      header nav .navLinks .title {
        color: #606060;
        font-weight: bold;
        padding-bottom: 15px; }
      header nav .navLinks .item {
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px; }
        header nav .navLinks .item:hover {
          background-color: #d5d5d5; }
        header nav .navLinks .item p {
          padding-top: 0;
          margin-right: 0;
          margin-left: 25px;
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
        header nav .navLinks .item .icon {
          position: relative;
          display: inline-block;
          font-size: 20px; }
          header nav .navLinks .item .icon i {
            width: 23px;
            max-width: 23px; }
        header nav .navLinks .item.active {
          background-color: #d5d5d5; }
        header nav .navLinks .item.browse {
          margin-top: 10px;
          margin-bottom: 10px; }
          header nav .navLinks .item.browse .icon {
            border: 1px solid black;
            width: 18px;
            margin-left: 2px;
            height: 18px;
            border-radius: 50%;
            font-size: 0.7rem; }
            header nav .navLinks .item.browse .icon i {
              width: fit-content;
              max-width: fit-content;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%); }
      header nav .navLinks .categories .item .icon {
        position: relative;
        display: inline-block;
        background-color: #373737;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        font-size: 0.7rem; }
        header nav .navLinks .categories .item .icon i {
          width: fit-content;
          max-width: fit-content;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: white; }
      header nav .navLinks .sign-btn {
        float: none;
        margin-left: 35px;
        margin-top: 15px; }
        header nav .navLinks .sign-btn p {
          padding: 0;
          margin: 0; }
    header nav .closed-navLinks {
      width: 85px; }
      header nav .closed-navLinks .item {
        width: 100%;
        height: 85px; }
        header nav .closed-navLinks .item .icon, header nav .closed-navLinks .item p {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
        header nav .closed-navLinks .item .icon {
          font-size: 20px; }
        header nav .closed-navLinks .item p {
          top: 75%;
          font-size: 10px; }
    header nav #hamburger {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      border-radius: 50%;
      background-color: white;
      border: 2px solid white; }
      header nav #hamburger a {
        cursor: pointer; }
      header nav #hamburger #hamburgerImage {
        font-size: 25px; }
      header nav #hamburger.hamburger-click {
        animation-name: hamburgerClicked;
        animation-duration: 1s; }
  header .search-bar {
    position: relative;
    width: 35%;
    margin-left: 22.5%; }
    header .search-bar form {
      height: 40px;
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      header .search-bar form input {
        height: 35px;
        border: 1px solid #d5d5d5;
        box-sizing: border-box; }
      header .search-bar form input[type=text] {
        font-size: 16px;
        padding-left: 10px;
        width: 80%; }
      header .search-bar form input[type=submit] {
        height: 37px;
        width: 65px;
        border-left: none;
        cursor: pointer; }
  header .voice-search, header .apps, header .anym-settings, header .search-btn, header .back-btn {
    width: 60px;
    position: relative;
    cursor: pointer;
    border-radius: 50%; }
    header .voice-search i, header .apps i, header .anym-settings i, header .search-btn i, header .back-btn i {
      padding: 10px;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.1rem; }
  header .apps, header .anym-settings {
    float: right; }
    header .apps i, header .anym-settings i {
      font-size: 1.3rem; }
  header .anym-settings {
    margin-right: 10px; }
  header .sign-btn {
    float: right;
    position: relative;
    display: block;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #065fd4;
    width: 125px;
    height: 35px; }
    header .sign-btn p, header .sign-btn i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    header .sign-btn p {
      width: fit-content;
      left: 60%;
      padding: 0;
      margin: 0;
      font-weight: bold;
      color: #065fd4;
      display: inline-block; }
    header .sign-btn i {
      left: 20%;
      font-size: 20px;
      color: #065fd4; }
  header .clicked {
    animation-name: hamburgerClicked;
    animation-duration: 1s; }

@keyframes hamburgerClicked {
  0% {
    background-color: #d5d5d5; }
  20% {
    border: 2px solid #b7b7b7; }
  100% {
    border: 2px solid white;
    background-color: white; } }

@keyframes navMenuOpen {
  from {
    width: 0px; }
  to {
    width: 240px; } }

@media (max-width: 1250px) {
  header .search-bar {
    margin-left: 10%; } }

@media (max-width: 950px) {
  header .search-bar {
    margin-left: 5%; }
    header .search-bar form input[type=text] {
      width: 70%; }
  header .voice-search, header .apps, header .anym-settings, header .search-btn {
    width: 40px; } }

@media (max-width: 800px) {
  header .search-bar {
    margin-left: 2.5%; }
  header .closed-navLinks {
    display: none; } }

@media (max-width: 750px) {
  header .search-btn, header .voice-search {
    float: right; }
  header .search-container {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white; }
    header .search-container * {
      float: left; }
    header .search-container .back-btn, header .search-container .voice-search {
      height: 100%;
      width: 60px; }
    header .search-container .search-bar {
      width: 80%;
      height: 100%;
      margin-left: 0;
      margin-right: 0; }
      header .search-container .search-bar form input[type=text] {
        width: 85%; } }

@media (max-width: 600px) {
  header .search-container .search-bar {
    width: 75%; }
    header .search-container .search-bar form input[type=text] {
      width: 80%; } }

@media (max-width: 510px) {
  header .voice-search {
    display: none; } }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  opacity: 0.4; }
  footer p {
    font-size: 12px;
    text-align: center;
    color: white; }

.video-categories {
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5d5;
  overflow-x: auto;
  white-space: nowrap; }
  .video-categories .category {
    display: inline-block;
    background-color: #e6e6e6;
    border: 1px solid #d5d5d5;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    animation-name: categoryHover-out;
    animation-duration: .5s;
    animation-fill-mode: forwards; }
    .video-categories .category:hover {
      cursor: pointer;
      animation-name: categoryHover-in; }
    .video-categories .category.active {
      background-color: black;
      animation-name: none; }
      .video-categories .category.active:hover {
        animation-name: none; }
      .video-categories .category.active p {
        color: white; }

@keyframes categoryHover-in {
  0% {
    background-color: #e6e6e6;
    border-color: #d5d5d5; }
  100% {
    background-color: #d5d5d5;
    border-color: #b7b7b7; } }

@keyframes categoryHover-out {
  0% {
    background-color: #d5d5d5;
    border-color: #b7b7b7; }
  100% {
    background-color: #e6e6e6;
    border-color: #d5d5d5; } }

#overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: 98; }

section {
  margin-left: 255px;
  padding-top: 70px; }

.expanded-view {
  margin-left: 100px; }

@media (max-width: 1300px) {
  section {
    margin-left: 100px; } }

@media (max-width: 800px) {
  section, .expanded-view {
    margin-left: 10px; } }

.videos {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .videos .video {
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    min-height: 300px; }
    .videos .video .thumbnail {
      position: relative;
      height: 40%;
      width: 100%; }
      .videos .video .thumbnail .time {
        position: absolute;
        bottom: 0;
        left: 92.5%;
        background-color: black;
        color: white;
        padding: 2px;
        font-size: 12px; }
    .videos .video .information {
      height: 30%; }
      .videos .video .information .title {
        margin-left: 10px;
        font-weight: bold; }
      .videos .video .information .channel, .videos .video .information .stats {
        font-size: 14px;
        display: block;
        color: #606060;
        margin-top: 3px;
        margin-left: 44px; }
      .videos .video .information img {
        display: inline-block;
        margin-top: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%; }
      .videos .video .information p {
        display: inline-block; }
    .videos .video img {
      height: 100%;
      width: 100%; }

@media (max-width: 1150px) {
  .videos .video {
    width: 28%; } }

@media (max-width: 900px) {
  .videos .video {
    width: 45%; } }

@media (max-width: 500px) {
  .videos .video {
    width: 95%; } }

* {
  scroll-behavior: smooth;
  color: #030303;
  font-family: roboto;
  margin: 0;
  padding: 0;
  scrollbar-width: thin; }

hr {
  border: 1px solid #d5d5d5; }

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px; }

/* Track */
::-webkit-scrollbar-track {
  background: #fff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #636363;
  border-radius: 20px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #919191; }
