.create-page {
    background-color: black;
    font-family: $main-font-family;

    .create-section {
        width: 100%;
        height: 100%;
        position: absolute;

        .create-box {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            width: 960px;
            height: 915px;
            border-radius: 7px;

            h1 {
                display: inline-block;
                font-size: 20px;
                font-weight: normal;
            }
            .top {
                padding: 20px;
                border-bottom: 1px solid $main-border-color;

                .btn {
                    float: right;
                    font-size: 22px;
                    margin-left: 20px;

                    i {
                        color: $secondary-font-color;
                    }
                    &:hover {
                        i {
                            color: black;
                        }
                    }
                }
            }
            .mid {
                text-align: center;
                position: relative;
                height: 850px;

                form {
                    height: 100%;
                }
                #error {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    color: red;
                }
                h2 {
                    font-weight: normal;
                    font-size: 14px;
                    margin-bottom: 5px;
                    color: $third-font-color;
                }
                p {
                    font-size: 12px;
                    color: $secondary-font-color;
                }
                a {
                    font-size: 12px;
                    text-decoration: none;
                    color: $sign-link-font-color;
                }
                .info, .legal {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    left: 50%;
                }
                .info {
                    top: 55%;
                }
                .legal {
                    width: 100%;
                    bottom: 0;

                    p {
                        margin-bottom: 10px;
                    }
                }
                .upload-input {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    border-radius: 50%;
                    background-image: url(../../media/upload.svg);
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: center;
                    width: 100px;
                    height: 100px;
                    border: 1px solid $lighter-main-border-color;
                    font-size: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }
                #details-stage {
                    height: 797px;
                    margin-left: 40px;
                    margin-right: 40px;
                    overflow-y: scroll;
                    overflow-x: hidden;

                    .timeline {
                        height: 80px;
                        width: 100%;
                    }
                    .details {
                        height: 718px;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        
                        h2 {
                            text-align: left;
                            font-weight: bold;
                            font-size: 15px;
                            margin-bottom: 8px;
                        }
                        p {
                            text-align: left;
                            font-size: 13px;
                            line-height: 20px;
                        }
                        .video-info, .video-player {
                            display: flex;
                            flex-direction: column;
                            padding: 1.5%;
                        }
                        .video-info {
                            width: 62%;

                            .title {
                                margin-bottom: 20px;

                                h1 {
                                    width: fit-content;
                                    display: inline-block;
                                    font-weight: bold;
                                    font-size: 24px;
                                    float: left;
                                }
                                #reuse {
                                    margin-top: 7.5px;
                                    font-weight: bold;
                                    font-size: 14px;
                                    width: fit-content;
                                    display: inline-block;
                                    float: right;
                                }
                            }
                            .input {
                                position: relative;
                                margin-bottom: 24px;

                                label, i, p {
                                    color: $secondary-font-color;
                                    position: absolute;
                                    transform: translate(-50%, -50%);
                                }
                                label {
                                    text-align: left;
                                    left: 9.7%;
                                    top: 21%;
                                    font-size: 12px;
                                }
                                i {
                                    left: 19%;
                                    top: 21%;
                                }
                                p {
                                    left: 95%;
                                    top: 80%;
                                    font-size: 12px;
                                }
                                input {
                                    padding-left: 2.5%;
                                    padding-right: 2.5%;
                                    width: 95%;
                                    padding-top: 30px;
                                    padding-bottom: 30px;
                                    border-radius: 5px;
                                    border: 1px solid $darker-main-border-color;
                                    font-size: 15px;

                                    &:focus {
                                        outline: none !important;
                                        border: 1px solid $sign-link-font-color;

                                        &+label {
                                            color: $sign-link-font-color;
                                        }
                                    }
                                    &:hover {
                                        border-color: $third-font-color;
                                    }
                                }
                                &#desc {
                                    label {
                                        top: 12%;
                                        left: 8.2%;
                                    }
                                    i {
                                        top: 12%;
                                        left: 16%;
                                    }
                                    p {
                                        top: 90%;
                                    }
                                    input {
                                        padding-bottom: 120px;
                                    }
                                }
                            }
                            .thumbnail {
                                margin-bottom: 24px;
                                position: relative;

                                .thumbnail-input {
                                    position: relative;
                                    display: block;
                                    border-radius: 5px;
                                    width: 127px;
                                    height: 68px;
                                    border: 2px solid $lighter-main-border-color;
                                    font-size: 0;
                
                                    &:hover {
                                        cursor: pointer;
                                        background-color: $main-border-color;
    
                                        &::after {
                                            color: $third-font-color;
                                        }
                                    }
                                    &::after {
                                        position: absolute;
                                        top: 70%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        width: fit-content;
                                        font-size: 12px;
                                        color: $secondary-font-color;
                                        content: "Upload thumbnail";
                                    }
                                }
                                .img-icon {
                                    position: absolute;
                                    top: 65%;
                                    left: 12%;
                                    transform: translate(-50%, -50%);
                                    z-index: 2;
                                    color: $secondary-font-color;
                                }
                            }
                        }
                        .video-player {
                            width: 32%;
                            margin-top: 45px;
                        }
                    }
                }
                .bottom {
                    height: 20px;
                    width: 940px;
                    border-top: 1px solid $main-border-color;
                    padding-top: 16.5px;
                    padding-bottom: 16.5px;
                    padding-left: 10px;
                    padding-right: 10px;

                    .left, .right {
                        height: 100%;
                        width: fit-content;
                        position: relative;
                    }
                    .left {
                        position: relative;
                        display: inline-block;
                        float: left;

                        p {
                            white-space: nowrap;
                            position: absolute;
                            top: 50%;
                            left: 200%;
                            transform: translate(-50%, -50%);
                        }
                        i {
                            margin-left: 10px;
                            font-size: 20px;
                            color: $sign-link-font-color;
                        }
                    }
                    .right {
                        float: right;

                        .btn {
                            font-size: 14px;
                            background-color: $sign-link-font-color;
                            color: white;
                            padding: 10px 15px;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }
}