header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: white;
    z-index: 99;

    &>*:not(.bottom-border) {
        display: inline-block;
        float: left;
        height: 100%;
    }
    .bottom-border {
        top: 60px;
        left: 255px;
        position: absolute;
        width: 100%;
        border-bottom: 1px solid $main-border-color;
    }
    .logo {
        width: 110px;
        
        img {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }
    nav {
        max-width: 45.88px;
        padding-left: 20px;
        padding-right: 10px;
        font-size: 14px;

        .navLinks, .closed-navLinks {
            height: 890px;
            margin-top: 10px;
            padding-bottom: 50px;
            position: absolute;
            left: 0;
            overflow-y: auto;
            z-index: 99;
            background-color: white;

            &::-webkit-scrollbar {
                width: 0px;
            }
            &:hover {
                &::-webkit-scrollbar {
                    width: 7px;
                }
            }
            .item {
                display: block;
                cursor: pointer;
                position: relative;

                &:hover {
                    background-color: $main-border-color;
                }
                &.active {

                    p {
                        font-weight: bold;
                    }
                }
            }
        }
        .navLinks {
            width: 0px;
            
            &.opened {
                animation-name: navMenuOpen;
                animation-duration: .5s;
                animation-fill-mode: forwards;
            }
            p {
                padding-top: 20px;
                margin-left: 30px;
                margin-right: 30px;
            }
            .title {
                color: $secondary-font-color;
                font-weight: bold;
                padding-bottom: 15px;
            }
            .item {
                padding-left: 30px;
                padding-top: 10px;
                padding-bottom: 10px;

                &:hover {
                    background-color: $main-border-color;
                }
                p {
                    padding-top: 0;
                    margin-right: 0;
                    margin-left: 25px;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .icon {
                    position: relative;
                    display: inline-block;
                    font-size: 20px;
                    
                    i {
                        width: 23px;
                        max-width: 23px;
                    }
                }
                &.active {
                    background-color: $main-border-color;
                }
                &.browse {
                    margin-top: 10px;
                    margin-bottom: 10px;

                    .icon {
                        border: 1px solid black;
                        width: 18px;
                        margin-left: 2px;
                        height: 18px;
                        border-radius: 50%;
                        font-size: 0.7rem;

                        i {
                            width: fit-content;
                            max-width: fit-content;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            .categories {
                .item {
                    .icon {
                        position: relative;
                        display: inline-block;
                        background-color: #373737;
                        width: 23px;
                        height: 23px;
                        border-radius: 50%;
                        font-size: 0.7rem;

                        i {
                            width: fit-content;
                            max-width: fit-content;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            color: white;
                        }
                    }
                }
            }
            .sign-btn {
                float: none;
                margin-left: 35px;
                margin-top: 15px;

                p {
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .closed-navLinks {
            width: 85px;

            .item {
                width: 100%;
                height: 85px;
                
                .icon, p {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                .icon {
                    font-size: 20px;
                }
                p {
                    top: 75%;
                    font-size: 10px;
                }
            }
        }
        #hamburger {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            border-radius: 50%;
            background-color: white;
            border: 2px solid white;
            
            a {
                cursor: pointer;
            }
            #hamburgerImage {
                font-size: 25px;
            }
            &.hamburger-click {
                animation-name: hamburgerClicked;
                animation-duration: 1s;
            }
        }
    }
    .search-bar {
        position: relative;
        width: 35%;
        margin-left: 22.5%;

        form {
            height: 40px;
            text-align: center;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            input {
                height: 35px;
                border: 1px solid $main-border-color;
                box-sizing: border-box;
            }
            input[type=text] {
                font-size: 16px;
                padding-left: 10px;
                width: 80%;
            }
            input[type=submit] {
                height: 37px;
                width: 65px;
                border-left: none;
                cursor: pointer;
            }
        }
    }
    .voice-search, .apps, .anym-settings, .search-btn, .back-btn {
        width: 60px;
        position: relative;
        cursor: pointer;
        border-radius: 50%;

        i {
            padding: 10px;
            padding-left: 12px;
            padding-right: 12px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.1rem;
        }
    }
    .apps, .anym-settings {
        float: right;

        i {
            font-size: 1.3rem;
        }
    }
    .anym-settings {
        margin-right: 10px;
    }
    .sign-btn {
        float: right;
        position: relative;
        display: block;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        border: 1px solid $sign-main-color;
        width: 125px;
        height: 35px;

        p, i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        p {
            width: fit-content;
            left: 60%;
            padding: 0;
            margin: 0;
            font-weight: bold;
            color: $sign-main-color;
            display: inline-block;
        }
        i {
            left: 20%;
            font-size: 20px;
            color: $sign-main-color;
        }
    }
    .clicked {
        animation-name: hamburgerClicked;
        animation-duration: 1s;
    }
}
@keyframes hamburgerClicked {
    0% { background-color: $main-border-color; }
    20% { border: 2px solid $darker-main-border-color; }
    100% { border: 2px solid white; background-color: white; }
}
@keyframes navMenuOpen {
    from {width: 0px;}
    to {width: 240px;}
}
@media (max-width: 1250px) {
    header {
        .search-bar {
            margin-left: 10%;
        }
    }
}
@media (max-width: 950px) {
    header {
        .search-bar {
            margin-left: 5%;

            form {
                input[type=text] {
                    width: 70%;
                }
            }
        }
        .voice-search, .apps, .anym-settings, .search-btn {
            width: 40px;
        }
    }
}
@media (max-width: 800px) {
    header {
        .search-bar {
            margin-left: 2.5%;
        }
    }
}
@media (max-width: 750px) {
    header {
        .search-btn, .voice-search {
            float: right;
        }
        .search-container {
            position: fixed;
            width: 100%;
            height: 60px;
            background-color: white;
            * {
                float: left;
            }
            .back-btn, .voice-search {
                height: 100%;
                width: 60px;
            }
            .search-bar {
                width: 80%;
                height: 100%;
                margin-left: 0;
                margin-right: 0;

                form {
                    input[type=text] {
                        width: 85%;
                    }
                }
            }
        }
    }
}
@media (max-width: 600px) {
    header {
        .search-container {
            .search-bar {
                width: 75%;
                
                form {
                    input[type=text] {
                        width: 80%;
                    }
                }
            }
        }
    }
}
@media (max-width: 510px) {
    header {
        .voice-search {
            display: none;
        }
    }
}