.videos {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .video {
        width: 20%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        min-height: 300px;

        .thumbnail {
            position: relative;
            width: 100%;
            aspect-ratio: 16 / 9;

            .time {
                position: absolute;
                bottom: 0;
                left: 92.5%;
                background-color: black;
                color: white;
                padding: 2px;
                font-size: 12px;
            }
        }
        .information {
            height: 30%;

            .title {
                margin-left: 10px;
                font-weight: bold;
            }
            .channel, .stats {
                font-size: 14px;
                display: block;
                color: $secondary-font-color;
                margin-top: 3px;
                margin-left: 44px;
            }
            .channel {

            }
            img {
                display: inline-block;
                margin-top: 20px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            p {
                display: inline-block;
            }
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
}
@media (max-width: 1150px) {
    .videos {
        .video {
            width: 28%;
        }
    }
}
@media (max-width: 900px) {
    .videos {
        .video {
            width: 45%;
        }
    }
}
@media (max-width: 500px) {
    .videos {
        .video {
            width: 95%;
        }
    }
}