
// FONT FAMILY

@font-face {
    font-family: roboto;
    src: url(../../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: notosans;
    src: url(../../font/NotoSans/NotoSans-Regular.ttf);
}
$main-font-family: roboto;
$secodary-font-family: notosans;

// FONT COLORS

$main-font-color: #030303;
$secondary-font-color: #606060;
$sign-link-font-color: #1a73e8;
$sign-link-hover-font-color: #155bb6;
$sign-secondary-font-color: #5f6368;

// BORDER COLORS

$main-border-color: #d5d5d5;
$darker-main-border-color: #b7b7b7;
$lighter-main-border-color: #e6e6e6;

// SIGN IN BUTTON

$sign-main-color: #065fd4;